body
h2{
  color: #4fa095;
}
}
{
    font-family:sans-serif;
}
 
table
{
    border-collapse: collapse;
    width: auto;
    height: auto;
}
 
table, th, td
{
    border: 1px solid gold;
    padding: 9px;
    text-align: left;
}
 
th
{
    background-color: maroon;
    color: #f6f6c9;
    font-weight: bold;
}
 
tr:nth-child(odd)
{
    background-color: Lavender;
}